@model MoviesApp.ViewModels.ActorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LastName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="BirthDate"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.BirthDate.ToString("dd.MM.yyyy")
        </dd>
    </dl>
    <h4>Movies</h4>
    <hr />
    @if (Model.Movies.Count() != 0)
    {
        <div>
            @foreach (var items in Model.Movies)
            {
                <p class="card-text"> @items.Movie.Title</p>
            }
        </div>
    }
    else
    {
        <p class="card-text">The actor has no films </p>
    }
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>